{{ define "guessing.tmpl"}}
{{ template "header.tmpl" . }}

<body>
    <div class="container-xl">
        <div class="row border-bottom mb-2 pb-2">
            <div class="col-6 d-flex flex-column text-center">
                <div class="mb-3">
                    <div class="dropdown">

                        <input 
                            class="enemySearch mt-3 form-control w-75 mx-auto dropdown-toggle null-font" 
                            type="text" 
                            placeholder="Find Enemy"
                            id="enemyDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >

                        <ul class="dropdown-menu w-75 overflow-auto" aria-labelledby="enemyDropdown" style="max-height: 420px;">

                            {{ range $i, $enemy := .Enemies }}
                            <li data-enemy-id="{{$enemy.Id}}">

                                <button 
                                    class="dropdown-item enemy-select-dropdown null-font d-flex align-items-center gap-2 "
                                    data-enemy-id="{{$enemy.Id}}"
                                    data-mode="{{$.Mode}}"
                                    data-enemy-file="/static/images/enemies/{{$enemy.Filename}}"
                                    type="button">

                                    <img
                                        src="/static/images/enemies/{{$enemy.Filename}}"
                                        alt="{{$enemy.Name}}"
                                        width="40"
                                        height="40"
                                        loading="lazy" 
                                        decoding="async"
                                        class="rounded">

                                    <span class="enemy-names">{{$enemy.Name}}</span>

                                </button>

                            </li>
                            {{ end }}

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 420px;">
                <img 
                    id="largeEnemyDisplay" 
                    src="/static/images/enemies/bell.png" 
                    alt="Selected Enemy" 
                    width="400" 
                    height="400"
                    class="rounded"
                >
            </div>
        </div>
        <div class="row g-0 border-bottom mb-2"> 
            <ul class="chosen-enemies w-100 overflow-auto list-unstyled" style="max-height: 420px;">
                <li>
                    <div class="container-xl">
                        <div class="row border w-100">
                            <div class="col-4 d-flex justify-content-center align-items-center" style="height: 80px;">
                                <span class="enemy-names null-font fs-3">Enemy Name</span>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center" style="height: 80px;">
                                <span class="enemy-names null-font fs-3">Curse Amount</span>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center" style="height: 80px;">
                                <span class="enemy-names null-font fs-3">Start Level</span>
                            </div>
                            <div class="col-4 d-flex justify-content-center align-items-center" style="height: 80px;">
                                <span class="enemy-names null-font fs-3">Kill Method</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script>
        (() => {
            'use strict'
            const guessedEnemies = new Set();
            const ROW_SIZE = "80px"

            function getResultColor(item) {
                if (typeof item === "boolean") {
                    return item ? "correct-answer" : "wrong-answer";                
                }

                if (item === "higher" || item === "lower") {
                    return "wrong-answer"
                } else if (item === "high-mid" || item === "low-mid") {
                    return "partial-answer"
                }

                return "correct-answer"

            }

            function createEnemyRow(enemy, result) {
                const enemyContact = enemy.kill_method.toUpperCase()
                const li = document.createElement("li");

                const container = document.createElement("div");
                container.className = "container-xl";

                const row = document.createElement("div");
                row.className = "enemy-choice-background row w-100";

                const imgNameCol = document.createElement("div");
                imgNameCol.className = `null-font col-4 d-flex align-items-center ${getResultColor(result.name)}-background`;
                imgNameCol.style.height = ROW_SIZE;

                const img = document.createElement("img");
                img.src = `/static/images/enemies/${enemy.filename}`;
                img.alt = "Chosen Enemy";
                img.width = 60;
                img.height = 60;
                img.className = "rounded";

                const nameCol = document.createElement("div");
                nameCol.className = `null-font d-flex text-center align-items-center justify-content-center`;
                nameCol.style.height = ROW_SIZE;
                nameCol.style.minWidth = "0";
                nameCol.innerHTML = `<span class="enemy-names name-display ${getResultColor(result.name)}-text fs-2">${enemy.name}</span>`;

                const curseCol = document.createElement("div");
                curseCol.className = `null-font col-2 d-flex justify-content-center align-items-center ${getResultColor(result.curse_amount)}-background`;
                curseCol.style.height = ROW_SIZE;
                curseCol.innerHTML = `<span class="enemy-names ${getResultColor(result.curse_amount)}-text fs-1">${enemy.curse_amount}</span>`;

                const levelCol = document.createElement("div");
                levelCol.className = `null-font col-2 d-flex justify-content-center align-items-center ${getResultColor(result.start_level)}-background`;
                levelCol.style.height = ROW_SIZE;
                levelCol.innerHTML = `<span class="enemy-names ${getResultColor(result.start_level)}-text fs-2">${enemy.start_level}</span>`;

                const killCol = document.createElement("div");
                killCol.className = `null-font col-4 d-flex justify-content-center align-items-center ${getResultColor(result.kill_method)}-background`;
                killCol.style.height = ROW_SIZE;
                killCol.innerHTML = `<span class="enemy-names ${getResultColor(result.kill_method)}-text fs-3">${enemyContact}</span>`;

                imgNameCol.appendChild(img);
                imgNameCol.appendChild(nameCol);

                row.appendChild(imgNameCol);
                row.appendChild(curseCol);
                row.appendChild(levelCol);
                row.appendChild(killCol);

                container.appendChild(row);
                li.appendChild(container);                

                return li;
            }

            async function submitEnemy(enemyId, mode) {
                try {
                    console.log(enemyId)
                    const res = await fetch('/guess-enemy', { method: 'POST', headers:{"Content-Type":"application/json"},body: JSON.stringify({ "enemy_id": enemyId, "gameplay_mode": mode}) });
                    const data = await res.json();
                    console.log(data)

                    const list = document.querySelector(".chosen-enemies");
                    console.log(data.result)
                    list.appendChild(createEnemyRow(data.enemy, data.result));


                    guessedEnemies.add(data.enemy.id)
                    return res 
                } catch (err) {
                    console.log(err);
                }
            }

            function handleSearchbar() {
                const query = this.value.toLowerCase();

                document.querySelectorAll('ul.dropdown-menu li').forEach(li => {
                    const span = li.querySelector('span.enemy-names');

                    if (!span) return;

                    const enemyName = span.textContent.toLowerCase();
                    li.style.display = enemyName.includes(query) && !guessedEnemies.has(Number(li.dataset.enemyId)) ? '' : 'none';
                });
            }

            const enemyDropdown = document.querySelector('#enemyDropdown')
            enemyDropdown.addEventListener('input', handleSearchbar)
            enemyDropdown.addEventListener('focus', handleSearchbar)

            document.querySelectorAll(".enemy-select-dropdown").forEach(item => {
                item.addEventListener("mouseenter", function () {
                    const imageSrc = item.dataset.enemyFile
                    if (!imageSrc) return;

                    const image = document.getElementById("largeEnemyDisplay");
                    image.src = imageSrc
                });

                item.addEventListener("click", async function () {
                    await submitEnemy(item.dataset.enemyId,item.dataset.mode)
                });
            });
            /* async function  */
            })()
        </script>
        <style>
        
        
        </style>
    </div>
</body>
</html>
{{end}}